# This import contains Drupal standards provided by verbruggenalex/coding-standards.
includes:
  - vendor/verbruggenalex/coding-standards/standards/drupal/phpstan.neon
# You can override configuration provided by that standard or add your own below.
parameters: