parameters:
  level: 0
  drupal:
    drupal_root: %currentWorkingDirectory%/htdocs
  paths:
    - %currentWorkingDirectory%/htdocs/modules/custom
    - %currentWorkingDirectory%/htdocs/themes/custom
    - %currentWorkingDirectory%/htdocs/profiles/custom
includes:
  - %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon
  - %currentWorkingDirectory%/vendor/phpstan/phpstan-deprecation-rules/rules.neon